<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leedane.cn.app" >

    <!-- 读取手机状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 访问网络状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问wifi状态权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变wifi状态权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--  开启摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <!--读取SDCard数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!--  手机通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!--  打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <!--  设置壁纸的权限 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <!--  JPush -->
    <permission
        android:name="com.leedane.cn.app.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.leedane.cn.app.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:name="com.leedane.cn.application.BaseApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.leedane.cn.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.leedane.cn.activity.FriendActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.MoodActivity"
            android:label="@string/mood"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.leedane.cn.activity.NavigationActivity" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.UpdateLoginPswActivity"
            android:label="@string/update_login_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.UpdateUserHeaderActivity"
            android:label="@string/update_header"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.UpdateChatBGActivity"
            android:label="@string/update_chat_bg"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.SettingActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.DetailNewActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.leedane.cn.activity.ImageDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.DownloadActivity"
            android:label="@string/system_download"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.PersonalActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!--  暂时使用这个adjustPan来解决，感觉不是很好的方式  -->
        <activity
            android:name="com.leedane.cn.activity.MoodDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/mood_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.UserInfoActivity"
            android:label="@string/user_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.UserBaseActivity"
            android:label="@string/user_base"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.MySettingActivity"
            android:label="@string/nav_setting"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.CircleOfFriendActivity"
            android:label="@string/circle_of_friend"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.FindActivity"
            android:label="@string/find"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.AddressListActivity"
            android:label="@string/address_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.FanActivity"
            android:label="@string/fan_my_attention"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.FileActivity"
            android:label="@string/nav_file"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.UploadFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.GalleryActivity"
            android:label="@string/personal_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.NotificationActivity"
            android:label="@string/message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.AttentionActivity"
            android:label="@string/attention"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.leedane.cn.activity.AtFriendActivity"
            android:label="@string/my_friends"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.leedane.cn.activity.ChatActivity"
            android:label="@string/chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.leedane.cn.activity.ChatDetailActivity"
            android:label="@string/chat_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.activity.TestActivity"
            android:label="@string/chat_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name="com.leedane.cn.activity.SearchActivity"
            android:label="@string/search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.activity.LocationActivity"
            android:label="@string/location"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.activity.ZanUserActivity"
            android:label="@string/zan_user"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.financial.activity.HomeActivity"
            android:label="@string/financial"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.financial.activity.IncomeOrSpendActivity"
            android:label="@string/financial_income"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.financial.activity.OneLevelOperationActivity"
            android:label="@string/one_level_opetation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.financial.activity.TwoLevelOperationActivity"
            android:label="@string/two_level_opetation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.financial.activity.OneLevelEditActivity"
            android:label="@string/one_level_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.financial.activity.TwoLevelEditActivity"
            android:label="@string/two_level_edit"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.leedane.cn.financial.activity.IncomeTestActivity"
            android:label="@string/financial_income"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--  Jpush  -->
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.leedane.cn.app" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.leedane.cn.app" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.leedane.cn.app" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.leedane.cn.broadcast.JPushReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.leedane.cn.app" />
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="52a273ed4a53533801809f1b" /> <!--  </>值来自开发者平台取得的AppKey-->

        <!-- 无序广播注册获取用户的数据信息 -->
        <receiver android:name="com.leedane.cn.broadcast.UserInfoDataReceiver">
            <intent-filter >
                <action android:name="com.leedane.cn.broadcast.UserInfoDataReceiver"/>
            </intent-filter>
        </receiver>

        <!-- 无序广播注册获取记账的统计的数据信息 -->
        <receiver android:name="com.leedane.cn.broadcast.CalculateFinancialReceiver">
            <intent-filter >
                <action android:name="com.leedane.cn.broadcast.CalculateFinancialReceiver"/>
            </intent-filter>
        </receiver>

        <!--  百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="ZWvyW58f607GYMyPKXWy03tK4WKXcHAD" />
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>


        <activity
            android:name="com.leedane.cn.activity.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <activity android:name="org.androidpn.demoapp.DemoAppActivity" android:label="@string/app_name">

        </activity>
        <activity android:name="org.androidpn.client.NotificationDetailsActivity"
            android:label="Notification Details">
        </activity>
        <activity android:name="org.androidpn.client.NotificationSettingsActivity"
            android:label="Notification Settings">
        </activity>
        <!-- http://android-arsenal.com/details/1/2861 -->
        <!--<activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        &lt;!&ndash;微信分享回调&ndash;&gt;-->
        <activity
            android:name="com.leedane.cn.shared.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1104646053" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.leedane.cn.service.SendMoodService">
            <intent-filter>
                <action android:name="com.leedane.cn.sendMoodService"></action>
            </intent-filter>
        </service>

        <service android:name="com.leedane.cn.service.LoadUserInfoDataService">
            <intent-filter>
                <action android:name="com.leedane.cn.LoadUserInfoDataService"></action>
            </intent-filter>
        </service>

        <service android:name="com.leedane.cn.service.CalculateFinancialService">
            <intent-filter>
                <action android:name="com.leedane.cn.CalculateFinancialService"></action>
            </intent-filter>
        </service>

        <service android:name="com.leedane.cn.service.LoadNoReadChatService">
            <intent-filter>
                <action android:name="com.leedane.cn.LoadNoReadChatService"></action>
            </intent-filter>
        </service>

        <service android:name="com.leedane.cn.service.LoadUserFriendService">
            <intent-filter>
                <action android:name="com.leedane.cn.LoadUserFriendService"></action>
            </intent-filter>
        </service>

        <service android:enabled="true"
            android:name="org.androidpn.client.NotificationService"
            android:label="NotificationService">
            <intent-filter><action android:name="abc" />
                <action android:name="org.androidpn.client.NotificationService" />
            </intent-filter>
        </service>
    </application>

</manifest>
